<app-barra-superior></app-barra-superior>
<div class="container" style="padding-top:2%">
    <div class="row">
        <div class="col">
            <h6><strong>Administração -> Dados -> Perfis.</strong></h6>
        </div>
    </div>
    <div class="row"></div>
</div>

<ng-template [ngIf]="loading" [ngIfElse]="perfilElse">
    <button *ngIf="loading" class="btn btn-link" style="padding-left: 50%;padding-right: 45%" disabled>
        <span class="spinner-border text-muted"></span>
        Carregando...
    </button>
</ng-template>

<ng-template #perfilElse>
    <div class="container" style="padding-top:1%">
        <div class="row">
            <div class="col">
                <p>Faça download desta listagem para uso em planilha,<a (click)="processarDadosCSV()"
                        onmouseover="style.color='#0B0080'" onmouseout="style.color='#3366bb'" style="color: #3366bb">
                        clicando aqui.</a></p>
            </div>
        </div>
    </div>
</ng-template>



<!--
cargo: null
criado_em: "2019-04-01T18:01:07.447435-03:00"
date_joined: "2019-04-01T18:01:06.398031-03:00"
departamento: null
editado_em: "2019-04-01T18:01:07.447451-03:00"
email: "proclinicagv.adm@gmail.com"
first_name: "a"
foto: "https://pmsb.sfo2.digitaloceanspaces.com/files/media/usuario_foto/4feb54a9-2c32-4b3e-8153-e62ceb7632ba/WhatsApp_Image_2019-04-01_at_08.26.01.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KIOYALKRG4O3VDNTBPRD%2F20190402%2Fsfo2%2Fs3%2Faws4_request&X-Amz-Date=20190402T093323Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=4ce8b26d816291ceea208bec43168c5d504bffe897ce9e4fc2ce21da9f5f5dab"
groups: []
id: "4feb54a9-2c32-4b3e-8153-e62ceb7632ba"
is_active: false
is_staff: false
is_superuser: false
last_login: null
last_name: "a"
superior: null
telefone_celular: "3332211136"
user_permissions: []
username: "83691537601"


<ng-template [ngIf]="perfil.acao == 'preencher'" [ngIfElse]="perfilElse">
    <a class="acao nav-link icon-text btn btn-outline-secondary"><i class="icon ion-md-add"></i> {{ perfil.acao }} </a>
</ng-template>
<ng-template #perfilElse>
    <a class="acao nav-link icon-text btn btn-outline-secondary"><i class="icon ion-ios-create"></i> {{ perfil.acao }} </a>
</ng-template>


-->

<!--
    Administração -> Dados -> Usuarios.
    Arquivo csv.
    
    foto
    username(cpf)
    nome
    telefone
    email
    superior
    departamento
    cargo
-->